<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1 class="text-center my-4">Product</h1>
    <a class="btn btn-primary"  href="/product/create">Create Product</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Stock</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${products}">
          <td th:text="${product.idProduct}"></td>
          <td th:text="${product.name}"></td>
          <td>
            <img th:src="@{'/image/' + ${product.image}}" alt="..." width="100">
          </td>
          <td th:text="${product.price}"></td>
          <td th:text="${product.description}"></td>
          <td th:text="${product.stock}"></td>
          <td style="white-space:nowrap">
            <a class="btn btn-primary btn-sm"  
                th:href="@{/product/edit(idProduct=${product.idProduct})}">Edit</a>
            <a class="btn btn-danger btn-sm"
                th:href="@{/product/delete(idProduct=${product.idProduct})}"
                onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </body>
</html>